<div class="panel-body user-panel-body">
  <p class="no-users-note" ng-if="CPC.components.length === 0">No Components Found.</p>
</div>
<div class="table-div" ng-if="CPC.components.length > 0">
  <table class="table table-striped table-admin table-condensed user-table">
    <tr>
      <th>Name</th><th>Licenses</th><th><strong>View/Edit</strong></th>
    </tr>
    <tr ng-repeat="component in CPC.components">
      <td>{{ component.requestName }}</td>
      <td>{{ component.licenseName }}</td>
      <td><button class="btn btn-default" data-toggle="modal" data-target="#viewUserModal" ng-click="CPC.viewCustomer(customer)" ng-disabled="true">View</button></td>
    </tr>
  </table>
</div>
