<div class="overflow-div">
  <div class="panel-body request-panel-body">
    <p class="no-requests-note" ng-if="RC.requests.length === 0 && !RC.makeNewRequest">There are no licence requests. Click the button to create one.</p>
    <div ng-if="RC.currentUser.permissions.request">
      <button
        ng-if="!RC.makeNewRequest && !RC.updateRequest"
        class="btn btn-default request-btn col-md-3 col-lg-2 col-sm-4 col-xs-4"
        ng-click="RC.makeNewRequest=!RC.makeNewRequest">
        New
      </button>
      <button
        ng-if="RC.makeNewRequest"
        class="btn btn-default request-btn col-md-3 col-lg-2 col-sm-4 col-xs-4"
        ng-click="RC.clearRequest()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Cancel
      </button>
      <button
        ng-if="RC.updateRequest"
        class="btn btn-default request-btn col-md-3 col-lg-2 col-sm-4 col-xs-4"
        ng-click="RC.clearRequest()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Cancel
      </button>
    </div>
    <button
      ng-if="RC.updateRequest && !RC.currentUser.permissions.request"
      class="btn btn-default request-btn col-md-3 col-lg-2 col-sm-4 col-xs-4"
      ng-click="RC.clearRequest()">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back
    </button>
  </div>
  <div ng-if="RC.requests.length > 0 && !RC.makeNewRequest && !RC.updateRequest">
    <table class="table table-striped table-condensed request-table">
      <tr>
        <th>Customer <span class="glyphicon glyphicon-chevron-down order-icons" ng-click="RC.requestOrder='customer'"></span></th>
        <th>No. of Users <span class="glyphicon glyphicon-chevron-down order-icons" ng-click="RC.requestOrder='numberOfUsers'"></span></th>
        <th>Batch Users <span class="glyphicon glyphicon-chevron-down order-icons" ng-click="RC.requestOrder='numberOfBatchUsers'"></span></th>
        <th>Expiration <span class="glyphicon glyphicon-chevron-down order-icons" ng-click="RC.requestOrder='expiration'"></span></th>
        <th>Components <span class="glyphicon glyphicon-chevron-down order-icons" ng-click="RC.requestOrder='components.length'"></span></th>
        <th>Other </th>
        <th>Status <span class="glyphicon glyphicon-chevron-down order-icons" ng-click="RC.requestOrder='licenseKey'"></span></th>
        <th><strong>View/Edit</strong></th>
      </tr>
      <tr ng-init="RC.requestOrder='customer'" ng-repeat="request in RC.requests | orderBy : RC.requestOrder">
        <td >{{ request.customer }}</td>
        <td>{{ request.numberOfUsers }}</td>
        <td>{{ request.numberOfBatchUsers }}</td>
        <td>{{ RC.convertMS(request.expiration) }}</td>
        <td>{{ request.components.length }}</td>
        <td>
          <div>
            <label ng-if="request.development"><em>Dev Use</em></label>
            <label ng-if="request.billable"><em>Billable</em></label>
          </div>
        </td>
        <td ng-if="request.licenseKey !== null" class="request-accept"></span>
          <button ng-click="RC.downloadLicense(request.customer,request.uid)" class="btn btn-success">Download</button>
        </td>
        <td ng-if="request.licenseKey === null" class="request-unknown">
          <span ng-if="!RC.currentUser.permissions.approve" class="glyphicon glyphicon-question-sign"></span>
          <button ng-if="RC.currentUser.permissions.approve" class="btn btn-warning" ng-click="RC.getApproval(request.uid)">Approve</button>
        </td>
        <td>
          <button class="btn btn-primary" ng-click="RC.updateRequest=!RC.updateRequest;RC.selectRequest(request)">View</button>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="RC.currentUser.permissions.request && RC.makeNewRequest" ng-include="'templates/newRequestForm.html'"></div>
  <div ng-if="RC.currentUser.permissions.request && RC.updateRequest" ng-include="'templates/editRequestForm.html'"></div>
